.idea/
build/
cmake-build-*
build-windows/
mingw-toolchain.cmake
installer/

Rezultatai.txt
studentai10000.txt
studentai100000.txt
studentai1000000.txt
generuotiStud1000.txt
generuotiStud10000.txt
generuotiStud100000.txt
generuotiStud1000000.txt
generuotiStud10000000.txt
vargsai.txt
kieti.txt
kursiokai.txt
programa
OOP_1
class
class_O1
class_O2
class_O3
testai